/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/login/login.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/


.login_leftlogin__xHyxn {
    width:50%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #5080a4;
    display: flex;
    flex-direction: column;

   
}

.login_rightlogin__9eHzf {
    width:50%;
   
}

.login_loginContainer__UoJWl{
    display: flex;
    height:100vh


}

.login_cardContainer__ZQDBf {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
  }

  .login_mainPhoto__jEiAd {
    width: 100%;
    height: 100%;
  }

  .login_imageWrapper__eJAC3 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .login_loginButton__ZAuNC {
    background-color: #6c6cb4 ;
    color: #6c6cb4;
  }

  .login_googlelogin__XddWa {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
