

.leftlogin {
    width:50%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #5080a4;
    display: flex;
    flex-direction: column;

   
}

.rightlogin {
    width:50%;
   
}

.loginContainer{
    display: flex;
    height:100vh


}

.cardContainer {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
  }

  .mainPhoto {
    width: 100%;
    height: 100%;
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .loginButton {
    background-color: #6c6cb4 ;
    color: #6c6cb4;
  }

  .googlelogin {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }