.mainWrapper {
   display: flex;
   padding: 20px;
   justify-content: center;
   width: 100%;
   height:100vh
}

.subWrapper {
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: center;
    height: 100%;
}

.textAreaWrapper {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    gap: 10px;

}

.adminHeaderWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   height: 50px;
}

.subheadingAdmin {
    width: 100%;
    background-color: #7ab3e7;
    color: white;
    display: flex;
    height: 100%;
    padding: 15px;
    align-items: center;
}

.navbar {
    width: 25%;
    display: flex;
    gap: 35px;


  }

  .dataBox {
    width: 550px;
    padding: 15px;
    height: 250px;
    border-radius: 20px;
    background-color: #e8f8ff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dataBoxWrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 80%;
    overflow-y: auto;
  }

  .buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .iconDelete {
   position: relative;
   /* top: 0; */
   right: 0
  }


  .dataTextWrapper {
    max-width: 490px;
  }

  .skeletonBox {
    height:100px;
    border-radius: 20px;
    width: 500px;
  }

  .textSpaceWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: start;
    border: 1px solid rgb(40, 38, 38);
  }


  .leftSidebar {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 5px ;
    gap: 4px;
  }

  .adminLeftWrapper {
    padding-left: 85px;
    width: 20%;
    height: 100vh;
  }

  .adminCenterWrapper {
    width: 55%;
    height: 100vh;
  }

  .adminRightWrapper {
    padding: 30px;
    padding-top: 0px !important;
    width: 30%;
    height: 100vh;
  }

  .retrain {
    background-color: #5188b9 !important;
    color: white !important;
  }
  
  .retrain:hover {
    color: black ;
    background-color: lightgrey 
  }

  .buttonsWrapper {
   display: flex;
   padding-left: 10px;
   border-radius: 5px;
   text-align: start;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
  }

  .activeButton{
    display: flex;
    padding-left: 10px;
    border-radius: 5px;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    background-color:#f9f9f9;
    color: blue
  }


  .buttonsWrapper:hover {
    background-color:#f9f9f9;
    color: blue
  }

  .fileWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    gap:15px;
    cursor:pointer;
    width: 100%;
  }

  .cardWrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }